:root {
  --pumpkin-orange: #f2a848;
  --latte-orange: #f2d8b3;
  --blush-pink: #d1a584;
  --salmon: #b07255;
  --mauve-pink: #904027;
  --slate-gray: #2e3d39;
}

.App {
  text-align: center;
}

.overview-tile {
  margin: 25px 50px 75px 100px;
  border-bottom-style: solid;
  background-color: var(--pumpkin-orange);
}
