:root {
  --light-moss-green:  #BFDBAE;
  --boston-university-red: #C70000;
  --pistachio: #8FBC72;
  --dark-vanilla: #D7BAAA;
  --white: #FFFFFF;
  --saddle-brown: #8B4513;
  --sky-blue: #87CEEB;
  --dark-orchid: #9932CC;
  --dark-green: #488101;
  --giants-orange: #FE5a1d;
  --yellow: #FFFF00;
  --blue: #3D80CD;
}