.tile {
  background-color: var(--salmon);
  height:  auto;
  width: 350px;
}

.tile:hover {
  background-color: var(--blush-pink);
  cursor: pointer;
}

.details-tile {
  background-color: var(--pumpkin-orange);
}

.map {
  display: flex;
  position: center;
  height: '50vh';
  width: '70%'
}

.navbar {
  display: flex;
  background-color: var(--pumpkin-orange);
}
