@import url('./colors.css');
@import url('./spacings.css');
@import url('./typography.css');
@import url('./component.css');
@import url('./layout.css');

.App {
  font-family: var(--regular-font-family);
  width: 100%;
  text-align: center;
}

